<div class="service-banner" data-lfr-background-image-id="service-banner-background">
  <lfr-editable id="service-banner-background" type="image">
    <img src="..." class="d-none">
  </lfr-editable>

  <div class="introduction">
    <${configuration.headingLevel} data-lfr-editable-id="title" data-lfr-editable-type="text" class="title">
      Portal de Serviços
    </${configuration.headingLevel}>

    <${configuration.descriptionLevel} data-lfr-editable-id="description" data-lfr-editable-type="text" class="description">
      Escolha sua área de interesse
    </${configuration.descriptionLevel}>
  </div>

  <div class="services">
    <div class="item">
      <a
        href="javascript:"
        class="absolute-link"
        data-lfr-editable-id="service_link--one"
        data-lfr-editable-type="link"
        aria-describedby="service_name--one"
      ></a>

      <img
        alt="Produção Rural"
        src="https://agricultura.sp.gov.br/img/ico_home_produtorrural.png"
        data-lfr-editable-id="service_image--one"
        data-lfr-editable-type="image"
      >

      <p data-lfr-editable-id="service_name--" data-lfr-editable-type="text" class="service-name">
        Produção Rural
      </p>
    </div>

    <div class="item">
      <a
        href="javascript:"
        class="absolute-link"
        data-lfr-editable-id="service_link--two"
        data-lfr-editable-type="link"
        aria-describedby="service_name--two"
      ></a>

      <img
        alt="Profissional Agropecuário"
        src="https://agricultura.sp.gov.br/img/ico_home_produtorrural.png"
        data-lfr-editable-id="service_image--two"
        data-lfr-editable-type="image"
      >

      <p data-lfr-editable-id="service_name--two" data-lfr-editable-type="text" class="service-name">
        Profissional Agropecuário
      </p>
    </div>

    <div class="item">
      <a
        href="javascript:"
        class="absolute-link"
        data-lfr-editable-id="service_link--three"
        data-lfr-editable-type="link"
        aria-describedby="service_name--three"
      ></a>

      <img
        alt="Publicações"
        src="https://agricultura.sp.gov.br/img/ico_home_produtorrural.png"
        data-lfr-editable-id="service_image--three"
        data-lfr-editable-type="image"
      >

      <p data-lfr-editable-id="service_name--three" data-lfr-editable-type="text" class="service-name">
        Publicações
      </p>
    </div>

    <div class="item">
      <a
        href="javascript:"
        class="absolute-link"
        data-lfr-editable-id="service_link--four"
        data-lfr-editable-type="link"
        aria-describedby="service_name--four"
      ></a>

      <img
        alt="Cidadão"
        src="https://agricultura.sp.gov.br/img/ico_home_produtorrural.png"
        data-lfr-editable-id="service_image--four"
        data-lfr-editable-type="image"
      >

      <p data-lfr-editable-id="service_name--four" data-lfr-editable-type="text" class="service-name">
        Cidadão
      </p>
    </div>

    <div class="item">
      <a
        href="javascript:"
        class="absolute-link"
        data-lfr-editable-id="service_link--five"
        data-lfr-editable-type="link"
        aria-describedby="service_name--five"
      ></a>

      <img
        alt="Mercado"
        src="https://agricultura.sp.gov.br/img/ico_home_produtorrural.png"
        data-lfr-editable-id="service_image--five"
        data-lfr-editable-type="image"
      >

      <p data-lfr-editable-id="service_name--five" data-lfr-editable-type="text" class="service-name">
        Mercado
      </p>
    </div>
  </div>
</div>
