.service-banner {
  padding: 25px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.service-banner .introduction {
  margin-bottom: 60px;
  display: inline-block;
}

.service-banner .introduction .title,
.service-banner .introduction .description {
  color: #FFFFFF !important;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .9);
}

@media (max-width: 577.98px) {
  .service-banner .introduction {
    display: block;
  }

  .service-banner .introduction .title,
  .service-banner .introduction .description {
    text-align: center !important;
  }
}

.service-banner .introduction .title {
  margin-bottom: 8px !important;
  font-size: 36px;
}

.service-banner .introduction .description {
  font-size: 18px;
  text-align: right;
}

.service-banner .services {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  gap: 32px;
}

.service-banner .services .item {
  position: relative;
  border: 5px solid #FFFFFF;
  border-radius: 50%;

  padding: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 135px;
  height: 135px;

  color: inherit;
  text-decoration: none;
}

.service-banner .services .item:nth-of-type(1) {
  background-color: rgb(246, 127, 45);
}

.service-banner .services .item:nth-of-type(1):hover {
  background-color: rgb(216, 101, 22);
}

.service-banner .services .item:nth-of-type(2) {
  background-color: rgb(255, 197, 12);
}

.service-banner .services .item:nth-of-type(2):hover {
  background-color: rgb(236, 180, 3);
}

.service-banner .services .item:nth-of-type(3) {
  background-color: rgb(82, 194, 252);
}

.service-banner .services .item:nth-of-type(3):hover {
  background-color: rgb(55, 150, 199);
}

.service-banner .services .item:nth-of-type(4) {
  background-color: rgb(251, 113, 113);
}

.service-banner .services .item:nth-of-type(4):hover {
  background-color: rgb(183, 61, 61);
}

.service-banner .services .item:nth-of-type(5) {
  background-color: rgb(132, 203, 159);
}

.service-banner .services .item:nth-of-type(5):hover {
  background-color: rgb(97, 179, 128);
}

.service-banner .services .item .absolute-link {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;

  opacity: 0;
  color: inherit;
  text-decoration: none;
}

.service-banner .services .item img {
  margin-bottom: 0;
  display: block;

  max-width: 100%;
  width: 58px;
}

.service-banner .services .item .service-name {
  font-weight: 700;
  font-size: 12px;
  text-align: center;

  color: #FFFFFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
