.featured-link a {
  border-top: 1px solid #EEEEEE;
  display: block;

  padding: 14px 8px;
  font-size: 12px;

  color: #555555;
  text-decoration: none;

  background: #FFFFFF;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(249,249,249,1) 99%);
}

.featured-link a:hover {
  background: #EEEEEE;
}
