<div class="weather-cards">
  <img
    src="..."
    alt=""
    class="thumb"
    data-lfr-editable-id="thumb"
    data-lfr-editable-type="image"
  >

  <span class="content">
    <a
      href="javascript:"
      class="title"
      data-lfr-editable-id="link"
      data-lfr-editable-type="link"
    >
      Placeholder
    </a>

    <span
      class="description"
      data-lfr-editable-id="description"
      data-lfr-editable-type="text"
    >
      Placeholder
    </span>
  </span>
</div>
