.weather-cards {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  text-decoration: none;
}

.weather-cards img {
  margin-right: 12px;

  border: 1px solid #DDDDDD;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .06);

  width: 80px;
  height: 60px;
}

.weather-cards .content {
  display: flex;
  flex-direction: column;
}

.weather-cards .content .title,
.weather-cards .content .description {
  font-size: 12px;
}

.weather-cards .content .title {
  color: #003399;
  font-weight: 700;

  text-decoration: none;
}

.weather-cards:hover .content .title {
  color: #337AB7;
}

.weather-cards .content .description {
  color: #333333;
}
