#accessibility_bar {
	padding-top: 8px;
	padding-bottom: 12px;

	.wrapper {
		@include flex-box (row, center, space-between);

		@media (max-width: 767.98px) {
			flex-direction: column;
			align-items: flex-start;
		}

		.websites {
			@include flex-box (row, center, flex-start);

			@media (max-width: 767.98px) {
				margin-bottom: 8px;
			}
		
			.item {
				display: block;
		
				font-weight: 700;
				font-size: 12px;
				line-height: 25px;
				
				color: #4B4B4B;
				text-decoration: none;
		
				&:hover {
					color: #9A9A9A;
				}
		
				& ~ .item::before {
					margin-left: 6px;
					margin-right: 6px;
		
					content: '|';
				}
			}
		}

		.utilities {
			@include flex-box (row, center, flex-start);

			@media (max-width: 767.98px) {
				flex-wrap: wrap;
			}

			& > span {
				margin-left: 4px;
				margin-right: 4px;
				
				display: block;

				font-size: 14px;
				line-height: 20px;

				color: #333333;
			}

			.social-networks, .accessibility-tools {
				@include flex-box (row, center, flex-start);

				.item {
					cursor: pointer;
					display: block;

					&:not(:first-of-type) {
						margin-left: 2.5px;
					}

					&:not(:last-of-type) {
						margin-right: 2.5px;
					}

					img {
						display: block;
					}
				}
			}

			.social-networks {
				.item {
					display: block;
					
					color: inherit;
					text-decoration: none;
				}
			}

			.accessibility-tools {
				@media (max-width: 767.98px) {
					margin-top: 8px;
				}

				.item {
					border: none;
					border-radius: 0;

					padding-left: 0;
					padding-right: 0;
					
					background-color: transparent;
				}
			}
		}
	}
}
