#banner {
	.wrapper {
		@include flex-box (row, stretch, flex-start);

		.portal-content {
			padding: 15px;

			@include flex-box (row, center, flex-start);

			background-color: #014FA2;
			background-repeat: no-repeat;
			background-position: bottom right;

			@media (max-width: 767.98px) {
				background-position: center right;
			}

			h3 {
				margin-bottom: 0;

				max-width: 190px;

				font-weight: 700;
				font-size: 24px;
				line-height: 26px;

				color: #FFFFFF;

				@media (max-width: 575.98px) {
					font-size: 18px;
				}
			}
		}

		.department {
			border-top: 1px solid #929292;
			border-right: 1px solid #929292;
			border-bottom: 1px solid #929292;

			padding-left: 15px;
			padding-right: 15px;

			@include flex-box (row, center, flex-end);
		}
	}
}