#content {
	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
		margin-bottom: 16px;

		font-weight: 700;
		line-height: 1.1;

		color: #333333;
	}

	.portlet-title-text {
		margin-bottom: 20px;
		border-bottom: 1px solid #E76D0B;
		padding-bottom: 8px;
		text-transform: uppercase;
	}

	[data-analytics-asset-type='web-content'] {
    border: 0;
    border-top: 1px solid #EEEEEE;
		padding-top: 20px;
	}
}
