// These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file.

// inject:imports

@import 'mixins';

@import 'accessibility_bar';
@import 'banners';
@import 'navigation_menu';
@import 'modal';
@import 'content';

@import 'footer';

@media (max-width: 767.98px) {
	.container {
		max-width: 675px;
	}
}

// endinject

// This file allows you to override default styles in one central location for easier upgrade and maintenance.
