#footer {
	margin-top: 24px;

	@media (max-width: 767.98px) {
		margin-top: 36px;
	}

	.wrapper {
		border-bottom: 14px solid #014FA2;
		border-bottom-right-radius: 23px;

		@include flex-box (row, center, flex-end);

		@media (max-width: 767.98px) {
			justify-content: space-between;
		}

		.websites {
			margin-right: 48px;
			margin-bottom: 0;
			padding-left: 0;
			
			@include flex-box (row, center, flex-start);
			
			list-style-type: none;

			@media (max-width: 767.98px) {
				margin-right: 0;
				margin-bottom: 20px;

				flex-direction: column;
				align-items: flex-start;
			}
			
			li {
				padding-left: 20px;
				padding-right: 20px;

				&:not(:first-of-type) {
					border-left: 1px solid #000;

					@media (max-width: 767.98px) {
						border-left: none;
					}
				}

				a {
					display: block;
	
					font-weight: 700;
					color: #000000;
				}
			}
		}

		figure {
			@media (max-width: 767.98px) {
				margin-right: 20px;
			}

			img {
				@media (max-width: 767.98px) {
					width: 100px;
				}
			}
		}
	}
}