.liferay-modal {
	.modal-dialog {
		@media (max-width: 767.98px) {
			width: auto !important;
		}
	}

	.liferay-modal-body {
		.login-container {
			.button-holder {
				margin-top: 16px;
				margin-bottom: 16px;
			}
		}
	}
}
