#navigation_menu {
	.wrapper {
		padding-top: 8px;
		padding-bottom: 8px;

		@include flex-box (row, center, flex-start);

		a, .dropdown-toggle {
			padding: 10px;
			display: block;

			font-size: 14px;
			color: #777777;

			text-decoration: none;

			&:hover, &:focus {
				color: #333333;
			}
		}

		.dropdown-toggle {
			border: none;
			background-color: transparent;
		}

		.dropdown-menu {
			.dropdown-item {
				padding: 5px 10px;

				color: #777777;
				white-space: nowrap;

				&:hover, &:focus {
					color: #333333;
				}
			}
		}

		ul {
			margin-bottom: 0;
			padding-left: 0;

			list-style-type: none;
		}
	}
}
