<div class="highlight-card">
  <div class="thumbnail">
    <img
      src="..."
      alt=""
      data-lfr-editable-id="image"
      data-lfr-editable-type="image"
    >
  </div>

  <${configuration.titleLevel} data-lfr-editable-id="title" data-lfr-editable-type="text" class="heading">
    Title Placeholder
  </${configuration.titleLevel}>

  <p data-lfr-editable-id="text1" data-lfr-editable-type="text" class="description">
    Text Placeholder
  </p>
</div>
