.highlight-card .thumbnail {
  margin-bottom: 12px;
}

.highlight-card .thumbnail img {
  display: block;

  width: 100%;
  max-width: 100%;
}

.highlight-card .heading {
  margin-bottom: 8px !important;

  color: #E76D0B !important;
  font-weight: 700 !important;

  text-transform: uppercase;
}

.highlight-card .description {
  font-size: 14px;
}
